body{
    font-family: 'Jost';
    margin: 50px 300px;
}

nav{
    padding: 10px;
    background-color: plum;
}
a{
    text-decoration: none;
    color: white;

}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
#inicio{
    background-color: blue;
    padding: 5px 15px;
}