body{
    font-family: 'Jost';
    margin: 50px 300px;
    line-height: 45px;
}
#title{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#marca{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}

#as{
    color: purple;
    font-size: 20px;
    font-weight: bold;
}
