#titulo1{
    margin: 25px 0px;
    text-align: center;
    color: #0000ff;
    font-family: 'Jost';
}
#titulo2{
    margin: 25px 0px;
    text-align: center;
    color: #ff0000;
    font-family: 'Jost';
}