#section-1{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    padding: 20px 80px;
    
}
.section-1__info{
    width: 30%;
}
 
.section-1__info p{
    color: #454868;
    text-align: justify;
}

.section-1__card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: min-content;
    height: 195px;
    padding: 35px;
    border-radius: 48px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    
}

.section-1__card-down{
    margin-top: 50px;
}

.section-1__card h3{
    font-family: 'Jost';
    color: #454868;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.64px;
    text-align: center;
}